  
  <section class="py-5 card p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mb-4">How School bus Tracker Works</h2>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus sit amet odio euismod
            feugiat vel et justo.</p>
          <ul class="list-unstyled">
            <li class="mb-3">
              <h5>Step 1: Sign Up</h5>
              <p>Register for an account on our website.</p>
            </li>
            <li class="mb-3">
              <h5>Step 2: Add buses</h5>
              <p>Add the school buses you want to track.</p>
            </li>
            <li class="mb-3">
              <h5>Step 3: Real-Time Tracking</h5>
              <p>Monitor the buses' real-time location on the map.</p>
            </li>
            <li>
              <h5>Step 4: Notifications</h5>
              <p>Receive notifications about bus arrivals and departures.</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img src="/images/banner/track.png" alt="How It Works" class="img-fluid">
        </div>
      </div>
    </div>
  </section>