<div class="container mt-5 card p-5 ">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="login-container">
          <div class="login-header">
            <h2>Login</h2>
            <p>Welcome back! Please sign in.</p>
          </div>
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="remember">
              <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
          <div class="mt-3 text-center">
            <a href="#">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 


